<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensatec</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <h1><a href="../index.html">Sensatec</a></h1>
    </header>
    <nav class="navbar navbar-expand bg-body-tertiary">
      <div class="container-fluid">
         <!-- Botón de hamburguesa para móviles -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav container">
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Decoración</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Bidetec</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./accesorios.html">Accesorios</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="container mt">
        <section>
          <div>
            <h2 class="accesories-title">Conectores Tipo T Macho Hembra</h2>
          </div>
          <div class="row container-cards">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-12">
                  <!-- carrusel -->
                  <div id="carouselTC-20" class="carousel slide">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="carousel-img-wrapper">
                        <img src="../images/CT-20/modeloCT_1.jpg" class="d-block w-100" alt="...">
                      </div>
                      </div>
                      <div class="carousel-item">
                        <div class="carousel-img-wrapper">
                        <img src="../images/CT-20/modeloCT_2.jpg" class="d-block w-100" alt="...">
                      </div>
                      </div>
                      <div class="carousel-item">
                        <div class="carousel-img-wrapper">
                        <img src="../images/CT-20/modeloCT_3.jpg" class="d-block w-100" alt="...">
                      </div>
                      </div>
                      <div class="carousel-item">
                        <div class="carousel-img-wrapper">
                        <img src="../images/CT-20/modeloCT_4.jpg" class="d-block w-100" alt="...">
                      </div>
                      </div>
                      <div class="carousel-item">
                        <div class="carousel-img-wrapper">
                        <img src="../images/CT-20/modelo_cajaCT20.jpg" class="d-block w-100" alt="...">
                      </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselTC-20" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselTC-20" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
                  <!-- fin carrusel -->
                <!-- </div> -->
                <!-- Informacion técnica -->
                <!-- <div class="col-md-8"> -->
                  <div class="card-body">
                    <h5 class="card-title">Modelo CT-20 / 0699838678989</h5>
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <th scope="row">Rosca</th>
                          <td>1/2"</td>
                        </tr>
                        <tr>
                          <th scope="row">Derivación</th>
                          <td>He Hi He</td>
                        </tr>
                        <tr>
                          <th scope="row">Material</th>
                          <td>Latón Cromado</td>
                        </tr>
                        <tr>
                          <th scope="row">Usos</th>
                          <td>Agua Fría/ Caliente/ Aceite</td>
                        </tr>
                        <tr>
                          <th scope="row">Aplicación</th>
                          <td>Baños/ Cocina/ Jardinería</td>
                        </tr>
                        <tr>
                          <th scope="row">Embalaje</th>
                          <td>Caja de cartón 6x6x5 cms</td>
                        </tr>
                        <tr>
                          <th scope="row">Procedencia</th>
                          <td>RPCH</td>
                        </tr>
                        <tr>
                          <th scope="row">P/M</th>
                          <td>100 Unidades</td>
                        </tr>
                      </tbody>
                    </table>                  
                  </div>
                </div>
              </div>
            </div>
             <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-12">
                  <!-- carrusel -->
                  <div id="carouselTC-40" class="carousel slide">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="carousel-img-wrapper">
                      <img src="../images/CT-40/modeloCT_1.jpg" class="d-block w-100" alt="...">
                    </div>
                    </div>
                    <div class="carousel-item">
                      <div class="carousel-img-wrapper">
                      <img src="../images/CT-40/modeloCT_2.jpg" class="d-block w-100" alt="...">
                    </div>
                    </div>
                    <div class="carousel-item">
                      <div class="carousel-img-wrapper">
                      <img src="../images/CT-40/modeloCT_3.jpg" class="d-block w-100" alt="...">
                    </div>
                    </div>
                    <div class="carousel-item">
                      <div class="carousel-img-wrapper">
                      <img src="../images/CT-40/modelo_caja.jpg" class="d-block w-100" alt="...">
                    </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselTC-40" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselTC-40" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                  <!-- fin carrusel -->
                <!-- </div> -->
                <!-- Informacion técnica -->
                <!-- <div class="col-md-8"> -->
                  <div class="card-body">
                    <h5 class="card-title">Modelo CT-40 / 0699838678996</h5>
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <th scope="row">Rosca</th>
                          <td>1/2"</td>
                        </tr>
                        <tr>
                          <th scope="row">Derivación</th>
                          <td>He Hi He</td>
                        </tr>
                        <tr>
                          <th scope="row">Material</th>
                          <td>Latón Cromado</td>
                        </tr>
                        <tr>
                          <th scope="row">Usos</th>
                          <td>Agua Fría/ Caliente/ Aceite</td>
                        </tr>
                        <tr>
                          <th scope="row">Aplicación</th>
                          <td>Baños/ Cocina/ Jardinería</td>
                        </tr>
                        <tr>
                          <th scope="row">Embalaje</th>
                          <td>Caja de cartón 6x6x5 cms</td>
                        </tr>
                        <tr>
                          <th scope="row">Procedencia</th>
                          <td>RPCH</td>
                        </tr>
                        <tr>
                          <th scope="row">P/M</th>
                          <td>100 Unidades</td>
                        </tr>
                      </tbody>
                    </table>                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </main>
          <footer>
        <div class="container">
            <p class="text-center">© 2023 Sensatec. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>